@model BookViewModel
@{
    ViewData["Title"] = "Detail's Product";
}

<div class="container card p-2">
    <div class="row">
        <div class="col-5">
            <image src="/images/@Model.ImagePath">
        </div>
        <div class="col-7">
            <h1>@Model.Title</h1>
            <p>by @Model.Author</p>
            <div class="divider mb-5" style="width:100%;border: 1px solid grey;margin: 5px auto;"></div>
            <h3 class="mt-2 mb-2">Price: $@Model.Price</h3>
            <form class="row mt-2 mb-2" asp-action="AddToCart" asp-controller="Cart" method="post">
                <input type="hidden" name="bookId" value="@Model.Id" />
                <div class="col-6">
                    <input min="1" max="@Model.Quantity" type="number" name="quantity" class="form-control h-100 w-100" required>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Add to cart</button>
                </div>
            </form>
            <p class="mt-3 mb-3">@Model.Description</p>
            <div class="mt-4 mb-3">
                <h5>Product's Detail</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Publisher</th>
                            <td>@Model.Publisher</td>
                        </tr>
                        <tr>
                            <th scope="row">Created</th>
                            <td>@Model.Created.ToString("dd-MM-yyyy")</td>
                        </tr>
                        <tr>
                            <th scope="row">Category</th>
                            <td>@Model.CategoryName</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
