@model PaginatedList<BookStore.Models.BookViewModel>
@{
    ViewData["Title"] = "Book Management";
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
}

<div class="employee-header" style="
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
">
    <div style="
    display: flex;
    justify-content: flex-start;
    align-items: center;
">
        <h2 style="margin:0; margin-right:10px">Book Management</h2>
        <a asp-area="" asp-controller="Book" asp-action="Add">
            <i style="color:blue" class="bi bi-plus-circle-fill"></i>
        </a>
    </div>

    <form asp-action="Index" method="get" style="display:flex;align-items: end;">
        <div class="form-group">
            <label for="searchString">Search by title:</label>
            <input type="text" name="searchString" class="form-control" />
        </div>
        <input style="height:50%" type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Publisher</th>
            <th scope="col">Price</th>
            <th scope="col">Created</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Status</th>
            <th scope="col" style="display:flex; align-items:center; justify-content:center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>
                    <div style="display:flex; justify-content:flex-start;align-items:flex-start;">
                        <img style="width:70px; margin-right:10px" src="/images/@b.ImagePath" alt="@b.Title" />
                        <div>
                            <h6>@b.Title</h6>
                            <h7>@b.Author</h7>
                        </div>
                    </div>
                </td>
                <td>@b.Publisher</td>
                <td>$@b.Price</td>
                <td>@b.Created.ToString("dd-MM-yyyy")</td>
                <td>@b.CategoryName</td>
                <td>
                    @if(b.Quantity > 10)
                    {
                        <button type="button" class="btn btn-sm btn-success" disabled>@b.Quantity</button>
                    } else if (b.Quantity == 0)
                    {
                        <button type="button" class="btn btn-sm btn-secondary" disabled>@b.Quantity</button>
                    } else
                    {
                        <button type="button" class="btn btn-sm btn-danger" disabled>@b.Quantity</button>
                    }
                </td>
                <td>
                    @if (b.Status)
                    {
                        <i style="color:green" class="bi bi-check-circle-fill"></i>
                    }
                    else
                    {
                        <i style="color:red" class="bi bi-x-circle-fill"></i>
                    }
                </td>
                <td>
                    <div style="display:flex; justify-content:space-around; align-items:center">
                        <a href="Book/Update/@b.Id">
                            <button type="button" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </a>
                        <form asp-action="ChangeStatus" asp-controller="Book" method="post">
                            <input type="hidden" name="Id" value="@b.Id" />
                            <button type="submit" class="btn @(b.Status?"btn-danger": "btn-success")">
                                <i class="bi bi-arrow-repeat"></i>
                            </button>
                        </form>
                        <form asp-action="Delete" asp-controller="Book" method="post">
                            <input type="hidden" name="Id" value="@b.Id" />
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="container" style="display: flex;align-items: center;justify-content: flex-end;">
    <p style="margin-right:10px">Page @Model.PageIndex of @Model.TotalPages</p>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @prevDisabled">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }
            <li class="page-item @nextDisabled">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
